body{
    background-color: bisque;
}
.formi {
    text-align: center;
}
@mixin sendi ($backgroundColor:red,$color:black) {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $backgroundColor;
    color: $color;
    font-size: 25pt;
}

.good {
    @include sendi($backgroundColor:green,$color:white)
}

h1 {
    color: black;
    background-color: bisque;
    text-align: center;
    font-size: 50pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}